@import 'runaway.scss';


.btn {
    padding:10px;
    @include spread(font-size, 16px, 25px);
    border: 2px solid #333;
    border-radius: 8px;
    font-size: 1.25em;
    color: #333;
    text-decoration: none;
    display: inline-block;
}

pre {
    overflow: scroll;
}


body {
    font-family: "Lato";
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-top: 32px;

}

nav {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAWCAYAAABHcFUAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNpi/P//P8NgA0wMgxCwQOnNQGxGBfMYgfgqEDtSZAg0+t4DsQCVPPoJiPmpEX1fqRj6v6kVfUFArALE/6kQfY8pTgOjuY/E6NMAYkUqmfkMiC9SI/ruUdFRz4FYihrRJ0jF0OemVvSdplLhyQAtPKmS+1gpLfCQwGcg/jlaJNCzSCgAYkMqleg3gbhtsFXIoHqUhxrRx0jF0GekVvS1ALE+lRx1e7RCHtGOAggwAGV9LuS/8U8JAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    z-index: 999;
    opacity: 0.95;
    background-color: #eee;
    @include min-large( background-image, none );
    @include max-med( background-color, #333 );
    @include max-med( height, 32px );
    @include max-med( text-align, left );

    &.active ul{
        @include max-med( display, block );
        @include max-med( margin, 0px );
        @include max-med( padding, 5px );
        @include max-med( background-color, #333333 );
        li {
            @include max-med( padding, 5px );
            @include max-med( border-bottom, 1px solid #eee );
        }
    }

    ul {
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
        @include max-med( position, fixed );
        @include max-med( display, none );
        @include max-med( left, 0 );
        @include max-med( top, 32px );
        
    }
    li {
        float: left;

        list-style: none;
        padding-right: 0.75em;
        @include max-med( float, none );
        a {
            text-decoration: none;
            color: #333;
            @include max-med( color, #eee );
        }
    }
    



}

header {
    overflow: hidden;
    position: relative;
    padding: 0 300px;
    background-color: #644;
    @include i-small-max( padding-top, 0px, 100px );
    @include i-small-max( padding-bottom, 0px, 100px );
    @include i-small-med( padding-left, 40px, 200px );
    @include i-small-med( padding-right, 40px, 200px );
    #masthead {
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;
        @include r-small( width, auto );
        @include r-small( height, 100% );
        @include r-small( -webkit-transform, translateX( -50% ) );
        @include r-small( transform, translateX( -50% ) );
        @include r-small( left, 50% );
    }
    #overlay {
        margin: 0 auto;
        text-align: center;
        color: #EEE;
        font-weight: 100;
        position: relative;
    }
    #logo {

        font-family: "Lato";
        font-style: normal;
        font-weight: 300;
        font-size: 64px;
        @include s-small( font-size, 20px, 30px);
        @include s-med( font-size, 30px, 50px);
        @include s-large( font-size, 50px, 64px);
    }
}

#about {
    background-color: #e8b968;
    position: relative;
    overflow: hidden;
    @include i-small-med( padding-top, 20px, 80px );
    @include i-small-med( padding-bottom, 20px, 180px );
    @include i-small-med( padding-left, 5%, 30% );
    @include i-small-med( padding-right, 5%, 30% );

    @include s-large( padding-left, 30%, 15% );
    @include s-large( padding-right, 30%, 45% );
    @include s-large( padding-top, 80px, 30px, in-quad );
    #ipad {
        display: block;
        margin: 0 auto;
        @include r-small( position, relative );
        @include s-small( width, 80%, 100%, out-quad );
        @include s-small( padding-top, 5px, 30px );

        @include min-med( position, absolute );
        @include min-med( width, 50%);
        @include i-med-max( left, 25%, 75% );
        @include i-large-max( top, 65%, 25%, out-quad );
    }
}


#examples {
    position: relative;
    margin: 40px 0;

    .info {
        padding: 10px;
    }

    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }


    .example {
        &:nth-child( odd ) {
            border-right:1px solid rgba( 0, 0, 0, 0.25 );
            @include max-small( border-right, none );
        }
        width: 50%;
        float: left;
        padding: 30px;
        box-sizing:border-box;
        @include min-med( min-height, 300px );
        @include max-small( float, none );
        @include max-small( width, auto );
    }
}
#download {
    background-color: #f3f3f3;
    text-align: center;
    padding: 40px;
    img {
        display: block;
        margin: 0 auto;
    }
}

#testimonials {
    background-color: #5b6869;
    position: relative;
    &:after {
        content:"";
        border:12px solid transparent;
        border-top-color: #5b6869;
        border-top-width: 13px;
        
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translateX( -50% );
        transform: translateX( -50% );
    }
}
